        <div class="single__content">
            <div class="single__content__box">
            	<h1 class="single__content__title">
            		About
            	</h1>
	            <div class="single__content__text">
	            	Our company was founded in 2014 In San Jose, California by 3 entrepreneurs who saw an opportunity
						to allow more convenient and cheaper purchasing of smartphones. They hired a team of people to set
						up a website that allows users convenient comparison of phones, with an easy-to-use interface.
						We have had success because our system allows users to easily tell what the differences are between
						phones, allowing them to make purchases that better suit their needs. We have steadily grown to a
						500 man operation, with warehouses in California, Texas, and New Jersey.
	            </div>

            </div>
        </div>
