        <div class="single__content">
            <div class="single__content__box">
            	<h1 class="single__content__title">
            		Account Login
            	</h1>
	            <div class=single__content__text">
	            	<form action="" method="post" class="single__content__form">
						<p>
							E-mail:
							<input type="text" name="email">
						</p>
						<p>
							Password:
							<input type="password" name="password">
						</p>
						<p><button name="login" value="submit">
							Login
						</button></p>
						<!--java--><!--ERROR--><p> </p><!--java-->
					</form>
	            </div>

            </div>
        </div>
