        <div style="width:100%;">
            <div style="min-width:500px; width:50%; background-color:#FFF; margin:3em auto; background-image:url(res/images/background-cell.jpg); border:solid 3px #CCC; padding:2rem; ">
            	<h1 style="text-align:center; color:#FFF; font-size:4rem; line-height:1.375; margin-top:0; margin-bottom:2.1rem;">
            		Account Login
            	</h1>
	            <div style="color:#FFF; width:80%; margin:auto; border:solid 3px #CCC; padding:2rem; font-size:3rem;">
	            	<form action="" method="post">
						<p>
							E-mail:
							<input type="text" name="email" style="margin:0; width:100%; border:solid 3px #CCC; background-color:#FFF; padding:5px; height:4rem;">
						</p>
						<p>
							Password:
							<input type="password" name="password" style="margin:0; width:100%; border:solid 3px #CCC; background-color:#FFF; padding:5px; height:4rem;">
						</p>
						<p><button name="login" value="submit" style="display:block; font-size:2rem; letter-spacing:unset; height:unset; line-height:1rem; line-height:1rem; padding:2rem; margin-left:auto; margin-right:auto; margin-top:3rem;">
							Login
						</button></p>
						<!--java--><!--ERROR--><p> </p><!--java-->
					</form>
	            </div>

            </div>
        </div>
