                <article class="masonry__brick entry format-standard">

                    <div class="entry__thumb">
                        <a href="res/single-standard.html" class="entry__thumb-link">
                            <!--java--><!--IMAGE--><img src="res/images/phones/phone1-400.jpg" alt=""><!--java-->
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            <h1 class="entry__title"><a href="res/single-standard.html"><!--java--><!--TITLE-->A New Phone!<!--java--></a></h1>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <!--java--><!--TAGS--><a href="index.html?os=Windows">Windows</a>
                                <a href="index.html?man=Microsoft">Microsoft</a><!--java-->
                            </span>
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                <!--java--><!--TEXT-->Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est.<!--java-->
                            </p>
                        </div>
                        <div class="entry__pricing">
                            <span>
                                <center><!--java--><!--PRICE-->$100<!--java--></center>
                                <form><button>Add to Cart</button></form>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->