<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Telefy</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="res/css/base.css">
    <link rel="stylesheet" href="res/css/vendor.css">
    <link rel="stylesheet" href="res/css/main.css">

    <!-- script
    ================================================== -->
    <script src="res/js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="res/favicon.ico" type="image/x-icon">
    <link rel="icon" href="res/favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- pageheader
    ================================================== -->
    <div class="s-pageheader">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="res/index.html">
                        <img src="res/images/logo.png" alt="Homepage">
                    </a>
                </div> <!-- end header__logo -->

                <a class="header__search-trigger" href="res/#0"></a>

                <div class="header__search">

                    <form role="search" method="get" class="header__search-form" action="#">
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>

                    <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

                </div>  <!-- end header__search -->

                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
							   <!--java--><!--MENU_CURRENT_HOME--><li><!--java--><a href="/" title="">Home</a></li>
                        <!--java--><!--MENU_CURRENT_OS--><li class="has-children"><!--java-->
                            <a href="/" title="">Operating Systems</a>
                            <ul class="sub-menu">
                            <!--java--><!--OS_MENU--><li><a href="/">Android</a></li>
                            <li><a href="/">iOS</a></li>
                            <li><a href="/">Windows</a></li>
                            <li><a href="/">Blackberry</a></li><!--java-->
                            </ul>
                        </li>
                        <!--java--><!--MENU_CURRENT_MANUFACTURER--><li class="has-children"><!--java-->
                            <a href="/" title="">Manufacturer</a>
                            <ul class="sub-menu">
                            <!--java--><!--MANUFACTURER_MENU--><li><a href="/">Samsung</a></li>
                            <li><a href="/">Apple</a></li>
                            <li><a href="/">LG</a></li>
                            <li><a href="/">Google</a></li>
                            <li><a href="/">Microsoft</a></li>
                            <li><a href="/">Blackberry</a></li><!--java-->
                            </ul>
                        </li>
								<!--java--><!--MENU_CURRENT_CART--><li><!--java--><a href="contact" title="">Cart</a></li>
								<!--java--><!--LOGIN--><li><a href="login" title="">Login</a></li><!--java-->
                    </ul> <!-- end header__nav -->

                    <a href="res/#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->

    </div> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content">
<!--java--><!--CONTENT-->
        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="grid-sizer"></div>

                <article class="masonry__brick entry format-standard">

                    <div class="entry__thumb">
                        <a href="res/single-standard.html" class="entry__thumb-link">
                            <img src="res/images/phones/phone1-400.jpg"
                                 srcset="res/images/phones/phone1-400.jpg 1x, res/images/phones/phone1-800.jpg 2x" alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            <h1 class="entry__title"><a href="res/single-standard.html">Microsoft Lumia</a></h1>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="res/category.html">Windows</a>
                                <a href="res/category.html">Microsoft</a>
                            </span>
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est.
                            </p>
                        </div>
                        <div class="entry__pricing">
                            <span>
                                <center>$100</center>
                                <form><button>Add to Cart</button></form>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="res/single-standard.html" class="entry__thumb-link">
                            <img src="res/images/phones/phone2-400.jpg"
                                 srcset="res/images/phones/phone2-400.jpg 1x, res/images/phones/phone2-800.jpg 2x" alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            <h1 class="entry__title"><a href="res/single-standard.html">HTC One</a></h1>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="res/category.html">Android</a>
                                <a href="res/category.html">HTC</a>
                            </span>
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__pricing">
                            <span>
                                <center>$100</center>
                                <form><button>Add to Cart</button></form>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="res/single-standard.html" class="entry__thumb-link">
                            <img src="res/images/phones/phone3-400.jpg"
                                 srcset="res/images/phones/phone3-400.jpg 1x, res/images/phones/phone3-800.jpg 2x" alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            <h1 class="entry__title"><a href="res/single-standard.html">Asus PadFone</a></h1>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="res/category.html">Android</a>
                                <a href="res/category.html">Asus</a>
                            </span>
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt.
                            </p>
                        </div>
                        <div class="entry__pricing">
                            <span>
                                <center>$100</center>
                                <form><button>Add to Cart</button></form>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="res/single-standard.html" class="entry__thumb-link">
                            <img src="res/images/phones/phone4-400.jpg"
                                 srcset="res/images/phones/phone4-400.jpg 1x, res/images/phones/phone4-800.jpg 2x" alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            <h1 class="entry__title"><a href="res/single-standard.html">Pixel 4</a></h1>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="res/#">Android</a>
                                <a href="res/#">Google</a>
                            </span>
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__pricing">
                            <span>
                                <center>$100</center>
                                <form><button>Add to Cart</button></form>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="res/single-standard.html" class="entry__thumb-link">
                            <img src="res/images/phones/phone5-400.jpg"
                                 srcset="res/images/phones/phone5-400.jpg 1x, res/images/phones/phone5-800.jpg 2x" alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            <h1 class="entry__title"><a href="res/single-standard.html">iPhone 11</a></h1>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="res/category.html">iOS</a>
                                <a href="res/category.html">Apple</a>
                            </span>
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__pricing">
                            <span>
                                <center>$100</center>
                                <form><button>Add to Cart</button></form>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="res/single-standard.html" class="entry__thumb-link">
                            <img src="res/images/phones/phone6-400.jpg"
                                 srcset="res/images/phones/phone6-400.jpg 1x, res/images/phones/phone6-800.jpg 2x" alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            <h1 class="entry__title"><a href="res/single-standard.html">Throwback To The Good Old Days.</a></h1>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="res/category.html">Lifestyle</a>
                            </span>
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__pricing">
                            <span>
                                <center>$100</center>
                                <form><button>Add to Cart</button></form>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="res/single-standard.html" class="entry__thumb-link">
                            <img src="res/images/phones/phone7-400.jpg"
                                 srcset="res/images/phones/phone7-400.jpg 1x, res/images/phones/phone7-800.jpg 2x" alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            <h1 class="entry__title"><a href="res/single-standard.html">Just Another  Standard Format Post.</a></h1>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="res/category.html">Design</a>
                                <a href="res/category.html">Photography</a>
                            </span>
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__pricing">
                            <span>
                                <center>$100</center>
                                <form><button>Add to Cart</button></form>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

                <article class="masonry__brick entry format-standard" data-aos="fade-up">

                    <div class="entry__thumb">
                        <a href="res/single-standard.html" class="entry__thumb-link">
                            <img src="res/images/phones/phone8-400.jpg"
                                 srcset="res/images/phones/phone8-400.jpg 1x, res/images/phones/phone8-800.jpg 2x" alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            <h1 class="entry__title"><a href="res/single-standard.html">Planning Your First Trip to Sydney.</a></h1>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="res/category.html">Travel</a>
                                <a href="res/category.html">Vacation</a>
                            </span>
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                        <div class="entry__pricing">
                            <span>
                                <center>$100</center>
                                <form><button>Add to Cart</button></form>
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->

            </div> <!-- end masonry -->
        </div> <!-- end masonry-wrap -->
<!--java-->
    </section> <!-- s-content -->

    <!-- s-footer
    ================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">

                <div class="col-two md-four mob-full s-footer__sitelinks">

                    <h4>Quick Links</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="/">Home</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="contact">Contact</a></li>
                    </ul>

                </div> <!-- end s-footer__sitelinks -->

                <div class="col-two md-four mob-full s-footer__archives">

                    <h4>Archives</h4>

                    <ul class="s-footer__linklist">
                        <!--java--><!--OS_MENU--><li><a href="res/index.html">Android</a></li>
                        <li><a href="res/index.html">iOS</a></li>
                        <li><a href="res/index.html">Windows</a></li>
                        <li><a href="res/index.html">Blackberry</a></li><!--java-->
                    </ul>

                </div> <!-- end s-footer__archives -->

                <div class="col-two md-four mob-full s-footer__social">

                    <h4>Social</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="res/#0">Facebook</a></li>
                        <li><a href="res/#0">Instagram</a></li>
                        <li><a href="res/#0">Twitter</a></li>
                        <li><a href="res/#0">Pinterest</a></li>
                        <li><a href="res/#0">Google+</a></li>
                        <li><a href="res/#0">LinkedIn</a></li>
                    </ul>

                </div> <!-- end s-footer__social -->

                <div class="col-five md-full end s-footer__subscribe">

                    <h4>Our Newsletter</h4>

                    <p>Sit vel delectus amet officiis repudiandae est voluptatem. Tempora maxime provident nisi et fuga et enim exercitationem ipsam. Culpa consequatur occaecati.</p>

                    <div class="subscribe-form">
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">

                            <input type="submit" name="subscribe" value="Send">

                            <label for="mc-email" class="subscribe-message"></label>

                        </form>
                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="col-full">
                    <div class="s-footer__copyright">
                        <span>&copy; Copyright Philosophy 2018</span>
                        <span>Site Template by <a href="res/https://colorlib.com/">Colorlib</a></span>
                    </div>

                    <div class="go-top">
                        <a class="smoothscroll" title="Back to Top" href="res/#top"></a>
                    </div>
                </div>
            </div>
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->

    <!-- Java Script
    ================================================== -->
    <script src="res/js/jquery-3.2.1.min.js"></script>
    <script src="res/js/plugins.js"></script>
    <script src="res/js/main.js"></script>

</body>

</html>